In [27]:
import sklearn
import numpy as np
import pandas as pd

In [28]:
titanic=pd.read_csv('titanic_text.csv')

In [29]:
titanic.head()

   PassengerId  Survived  Sex  Pclass     Fare
0            1         0    0       3   7.2500
1            3         1    1       3   7.9250
2            4         1    1       1  53.1000
3            5         0    0       3   8.0500
4            7         0    0       1  51.8625

In [30]:
y_array=np.array(titanic['Survived'])
x_array=np.array(titanic.drop(['PassengerId','Survived'],axis=1))

In [53]:
titanic.drop(['PassengerId','Survived'],axis=1)

     Sex  Pclass     Fare
0      0       3   7.2500
1      1       3   7.9250
2      1       1  53.1000
3      0       3   8.0500
4      0       1  51.8625
..   ...     ...      ...
707    0       3   7.0500
708    1       3  29.1250
709    0       2  13.0000
710    1       3  23.4500
711    0       1  30.0000

[712 rows x 3 columns]

In [32]:
x_array.shape

(712, 3)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x_array,y_array,test_size=0.4,random_state=0)

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
rfc=RandomForestClassifier(random_state=0)

In [37]:
rfc.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [38]:
y_pred=rfc.predict(x_test)

In [39]:
y_pred

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
      dtype=int64)

In [40]:
y_pred.shape

(285,)

In [41]:
from sklearn.metrics import accuracy_score

In [43]:
y_test.shape

(285,)

In [45]:
accuracy_score(y_pred,y_test)

0.8

In [48]:
asiignment=pd.read_csv('titanic_assignment_question.csv')

In [59]:
asiignment.shape

(179, 4)

In [55]:
x_train=np.array(asiignment.drop('PassengerId',axis=1))

In [60]:
Survived=rfc.predict(x_train)

In [61]:
Survived.shape

(179,)

In [71]:
C=pd.DataFrame({'Survived':Survived})

In [72]:
kekka=pd.concat([asiignment['PassengerId'],C],axis=1)

In [73]:
kekka.head()

   PassengerId  Survived
0            2         1
1            6         0
2            9         1
3           15         1
4           28         0

In [76]:
kekka.to_csv('y_pred_assignment_submit.csv',index=False)